// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pagination {
    display: inline-block;
    padding: 0 40px;
    list-style-type: none;

    li {
        padding: 8px 16px;
        float: left;
    }
}

.topnav {
  overflow: hidden;
  background-color: #333;

  &-right {
    float: right;
  }
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
    max-width: 600px;
    margin: auto;
}

.alert {
    text-align: center;
}